$accent-color: #3f92d3;
$border-color: #c5c5c5;
$shadow-color: #e7e7e7;
$hint-color: #aaa;
$placeholder-color: #a8a8a8;
$placeholder-focus-color: #cdcdcd;
$selected-value-color: #efefef;

html {
  font-size: 14px;
  font-family: SegoeUI, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: SegoeUI;
  src: url(../fonts/SegoeUI.ttf);
}

.autocomplete__label {
  display: block;
}

.autocomplete-input-wrapper {
  width: 100%;
  display: block;
}

.wrapper {
  float: left;
  padding: 100px;
}

.wrapper__autocomplete {
  margin-bottom: 150px;
}

.autocomplete {
  width: 268px;
  position: relative;
}

.autocomplete-input {
  position: relative;
  color: #404040;
  line-height: 20px;
  width: 100%;
  height: 30px;
  border: 1px solid #d9d9d9;
  padding: 0 5px;
}

.autocomplete-input_with-arrow {
  background: url(../img/arrow-down.svg) no-repeat;
  background-position: 97% 50%;
  background-size: 6px 6px;
}

.autocomplete-input:focus {
  outline: 2px solid #3f92d3;
}

.autocomplete-input_selected {
  outline: 2px solid #3f92d3;
}

.autocomplete-input_invalid {
  border: 2px solid #e5181d;
}

.autocomplete__invalid-text {
  content: "Выберите значение из списка";
  display: block;
  color: red;
  position: absolute;
  left: 0;
  bottom: -20px;
}

.autocomplete-input::-webkit-input-placeholder {
  color: $placeholder-color;
}

.autocomplete-input:focus::-webkit-input-placeholder {
  color: $placeholder-focus-color;
}

.autocomplete__option-list {
  list-style: none;
  display: none;
  padding: 0;
  margin: 1px 0;
  position: absolute;
  left: 0;
  width: 125%;
  border: 1px solid $border-color;
  box-shadow: 0 2px 12px 2px $shadow-color;
}

.autocomplete__list-item {
  padding: 0 8px;
  line-height: 27px;
  height: 27px;
  cursor: pointer;
  user-select: none;
}

.option-list_current {
  background-color: $accent-color;
  color: #fff;
}

.autocomplete__list-hint {
  margin: 12px 8px;
  font-size: 12px;
  color: $hint-color;
  cursor: default;
}

.autocomplete__option-list-separator {
  width: 100%;
  height: 1px;
  background-color: $border-color;
  margin-top: 5px;
}

.list-hint_top {
  margin: 8px 8px 12px 8px;
}

.option-list_empty {
  @extend .autocomplete__list-item;
  cursor: default;
  margin: 0;
  color: $hint-color;
}

.option-list_with-arrow {
  height: 135px;
  overflow-y: auto;
}

.list-item_selected {
  background-color: $selected-value-color;
}

.loader {
  width: 16px;
  height: 16px;
  background-image: url(../img/loader.gif);
  background-size: 16px;
  display: inline-block;
  margin-top: 3px;
}

.autocomplete__loading {
  @extend .autocomplete__list-item;
  cursor: default;
  margin: 0;
  color: $hint-color;
  float: left;
}

.test {
  height: 10000px;
  width: 100px;
  background-color: #404040;
  overflow-y: scroll;
}
